.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.pageLayout:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 72px 8px 8px;
}
.h4 {
  font-family: Raleway Light;
  font-size: 34px;
  letter-spacing: 0.25px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 400;
  text-transform: uppercase;
  min-width: 0;
  padding: 12px 0px 8px;
}
.p__mjyso {
  font-family: Raleway Light;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 0px;
  min-width: 0;
}
.h5__gwMhg {
  font-family: Raleway Medium;
  font-size: 24px;
  letter-spacing: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 12px 0px 8px;
}
.p___4HYpx {
  font-family: Raleway Light;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 0px;
  min-width: 0;
}
.h5__dw8Rr {
  font-family: Raleway Medium;
  font-size: 24px;
  letter-spacing: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 12px 0px 8px;
}
.p__ctr7F {
  font-family: Raleway Light;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 0px;
  min-width: 0;
}
.h5__oIIy {
  font-family: Raleway Medium;
  font-size: 24px;
  letter-spacing: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 12px 0px 8px;
}
.p__ubWhX {
  font-family: Raleway Light;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 0px;
  min-width: 0;
}
.h5__rxBTy {
  font-family: Raleway Medium;
  font-size: 24px;
  letter-spacing: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 12px 0px 8px;
}
.p__kjtWu {
  font-family: Raleway Light;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
  height: auto;
  min-width: 0;
}
.link___972Hx {
  font-family: Raleway Medium;
  color: #216ad3 /* plasmic-token: kOWiwdSQ6 */;
  letter-spacing: 1.3px;
  text-decoration-line: underline;
  font-size: 16px;
}
.link__dI3Wi {
  font-family: Raleway Medium;
  color: #216ad3 /* plasmic-token: kOWiwdSQ6 */;
  letter-spacing: 1.3px;
  text-decoration-line: underline;
  font-size: 16px;
}
.h5__l20Wk {
  font-family: Raleway Medium;
  font-size: 24px;
  letter-spacing: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 12px 0px 8px;
}
.p__ml9Un {
  font-family: Raleway Light;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
  height: auto;
  min-width: 0;
}
.h5__aarHl {
  font-family: Raleway Medium;
  font-size: 24px;
  letter-spacing: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 12px 0px 8px;
}
.p__mLjQ {
  font-family: Raleway Light;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
  height: auto;
  min-width: 0;
}
.h5__jvScI {
  font-family: Raleway Medium;
  font-size: 24px;
  letter-spacing: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 12px 0px 8px;
}
.p___7ITe0 {
  font-family: Raleway Light;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
  height: auto;
  min-width: 0;
}
.h5__ofFzd {
  font-family: Raleway Medium;
  font-size: 24px;
  letter-spacing: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 12px 0px 8px;
}
.p__unnci {
  font-family: Raleway Light;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
  height: auto;
  min-width: 0;
}
.h5__ue4Ro {
  font-family: Raleway Medium;
  font-size: 24px;
  letter-spacing: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 12px 0px 8px;
}
.p__lkXDs {
  font-family: Raleway Light;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
  height: auto;
  min-width: 0;
}
.h5__nUzvm {
  font-family: Raleway Medium;
  font-size: 24px;
  letter-spacing: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 12px 0px 8px;
}
.p___5JmO {
  font-family: Raleway Light;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
  height: auto;
  min-width: 0;
}
.h5__lF09N {
  font-family: Raleway Medium;
  font-size: 24px;
  letter-spacing: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 12px 0px 8px;
}
.p__o2ISi {
  font-family: Raleway Light;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
  height: auto;
  min-width: 0;
}
.h5__ljqwO {
  font-family: Raleway Medium;
  font-size: 24px;
  letter-spacing: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 12px 0px 8px;
}
.p__nQgKx {
  font-family: Raleway Light;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
  height: auto;
  min-width: 0;
}
.p___8CwYo {
  font-family: Raleway Light;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
  height: auto;
  padding-top: 24px;
  font-weight: 600;
  min-width: 0;
}
